extends layout
block content
     h1 Impressum
     h2 Autoren:
     p Erkam Dogan und Jonathan Mader
     h2 Kontakt: 
     p Erkam Dogan: edogan1@uni-muenster.de 
          a(href='mailto:e%64%6fg%61%6e1@%75%6e%69%2d%6d%75%65%6e%73ter%2e%64%65' target='_blank') Hier klicken um Erkam eine Email zu schreiben!
               ion-icon(name='mail-outline' style='color:#000000')
     p Jonathan Mader: jmader@uni-muenster.de 
          a(href='mailto:%6amad%65%72@u%6e%69%2dmu%65ns%74er%2ede' target='_blank') Hier klicken um Jonathan eine Email zu schreiben!
               ion-icon(name='mail-outline' style='color:#000000')
     h2 Bild Quellen: 
     p 
         a(href='https://cdn-icons-png.flaticon.com/512/62/62675.png') Eigenes Gebirge Icon
     