extends layout

block content
    .row.justify-content-md-center
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.card
                h3 Homepage
                    br
                    p Dies ist unsere Homepage für die Projektaufgabe des Kurses Geosoftware 1!
                    p Dabei handelt es sich um eine kartengestütze Webanwendung, mit welcher es möglich ist, Gebirge als Punkte zu einer Datenbank hinzuzufügen um mit diesen zu arbeiten
                    br
                    p Mit der Navigationsleiste ist es möglich zwischen den Seiten zu wechseln
                    br
    h2 Erklärung:
    .row.justify-content-md-center
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.card
                br
                h3 Gebirge hinzufügen
                p Unter Gebirge hinzufügen, können Gebirge entweder durch leaflet draw, oder im GeoJSON Format als Datei oder Text zur Datenbank hinzugefügt werden, dies kann zusätzlich durch einen Wikipedia Link ergänzt werden um so eine Beschreibung des Gebirges zu bekommen.
        
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.card
                h3 Gebirge löschen
                p Bereits hinzugefügte Gebirge können hier durch anklicken auf der Karte wieder gelöscht werden!
    .row.justify-content-md-center
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.card
                h3 Gebirge ansehen
                p Alle hinzugefügten und gespeicherten Gebirge können hier entweder auf einer Karte (oder in einer Tabelle) angesehen werden und die Informationen ausgelesen werden
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.cardp 
                h3 Navigation
                p Navigation mithilfe von Routen zu frei ausgewählten Punkten durch klicken auf die Karte, oder mit ihrem Standort oder zu den hinzugefügten und gespeicherten Gebirgen.
